Repository justinsisley/workout: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: npm run lint
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: npm run format:check
    type-check:
      run: npm run type-check
# pre-push:
#   parallel: true
#   commands:
#     test-e2e:
#       run: npm run test:e2e

Format documentation files with Prettier
  docs/architecture.md
  docs/brainstorming-session-results.md
  docs/brief.md
  docs/front-end-spec.md
  docs/prd.md
Due: prettier

feat: Complete Task 5 - Establish Project Structure and Scripts
  README.md
  docs/architecture.md
  docs/stories/1.1.project-setup.md
  package-lock.json
  package.json
  src/app/(frontend)/page.tsx
  src/payload/collections/media.ts
  src/payload/collections/users.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/types/auth.ts
  src/types/common.ts
  src/types/workout.ts
  src/utils/constants.ts
  src/utils/formatting.ts
  src/utils/validation.ts
  tests/int/api.int.spec.ts
  tsconfig.json
Due: eslint, prettier

chore(config): configure commitlint with conventional commit standards
  commitlint.config.mjs
  docs/stories/1.1.project-setup.md
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

chore(config): re-enable commitlint in lefthook pre-commit hooks
  lefthook.yml
Due: prettier

feat(ci): set up comprehensive GitHub Actions CI pipeline
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  docs/stories/1.1.project-setup.md
Due: prettier

refactor(ci): remove Snyk dependency and use only npm audit for security scanning
  .github/workflows/ci.yml
Due: prettier

fix(deps): align React and React-DOM versions to resolve build error
  package-lock.json
  package.json
Due: prettier

fix(security): update Next.js and adjust security audit threshold
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier

chore(cleanup): remove unnecessary Dockerfile
  Dockerfile
  commitlint.config.mjs
Due: none

feat(dev): add seamless development workflow with concurrently
  README.md
  commitlint.config.mjs
  package-lock.json
  package.json
Due: prettier

docs(setup): add comprehensive macOS development setup guide
  README.md
  commitlint.config.mjs
Due: prettier

fix(dev): simplify Docker Compose to only handle MongoDB
  docker-compose.yml
  lefthook.yml
  package.json
Due: prettier

fix(dev): re-enable commitlint and add setup scope
  commitlint.config.mjs
  lefthook.yml
Due: prettier

fix(dev): correct commitlint hook configuration
  test_file.txt
Due: none

chore(cleanup): remove test file
  test_file.txt
Due: none

fix(dev): move commitlint from pre-commit to commit-msg hook
  lefthook.yml
Due: prettier

fix(dev): exclude generated payload-types.ts from linting and formatting
  .prettierignore
  eslint.config.mjs
Due: none

feat(dev): add npm-check-updates for dependency management
  .ncurc.json
  package-lock.json
  package.json
Due: prettier

docs(dev): add npm-check-updates documentation to architecture and README
  README.md
  docs/architecture.md
Due: prettier

chore(deps): update non-major dependencies
  package-lock.json
  package.json
Due: prettier

fix(ci): add missing environment variables and MongoDB services to CI pipeline
  .github/workflows/ci.yml
Due: prettier

perf(ci): optimize GitHub Actions pipeline for speed and reliability
  .github/workflows/ci.yml
Due: prettier

ci: comprehensive CI pipeline optimization and E2E test fixes
  .github/workflows/ci.yml
  src/payload/payload-types.ts
Due: eslint, prettier

fix: remove invalid NODE_OPTIONS flag causing E2E test failures
  docs/qa/gates/1.1-project-setup.yml
  docs/stories/1.1.project-setup.md
  package.json
  test.env
Due: prettier

fix: resolve E2E test failure by adding environment variables to Playwright webServer config
  playwright.config.ts
Due: eslint, prettier

feat: shard architecture and PRD documents into organized sections
  docs/architecture.md
  docs/architecture/backend-architecture.md
  docs/architecture/checklist-results-report.md
  docs/architecture/coding-standards.md
  docs/architecture/components.md
  docs/architecture/core-workflows.md
  docs/architecture/deployment-architecture.md
  docs/architecture/development-workflow.md
  docs/architecture/error-handling-strategy.md
  docs/architecture/external-apis.md
  docs/architecture/frontend-architecture.md
  docs/architecture/high-level-architecture.md
  docs/architecture/index.md
  docs/architecture/introduction.md
  docs/architecture/monitoring-and-observability.md
  docs/architecture/payloadcms-collections.md
  docs/architecture/payloadcms-data-architecture.md
  docs/architecture/security-and-performance.md
  docs/architecture/server-actions-specification.md
  docs/architecture/tech-stack.md
  docs/architecture/testing-strategy.md
  docs/architecture/unified-project-structure.md
  docs/prd.md
  docs/prd/checklist-results-report.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/epic-2-user-authentication-program-access.md
  docs/prd/epic-3-core-workout-execution.md
  docs/prd/epic-4-smart-progression-advanced-features.md
  docs/prd/epic-list.md
  docs/prd/goals-and-background-context.md
  docs/prd/index.md
  docs/prd/next-steps.md
  docs/prd/requirements.md
  docs/prd/technical-assumptions.md
  docs/prd/user-interface-design-goals.md
Due: prettier

feat(docs): complete story 1.1 and create story 1.2 for PayloadCMS collections
  docs/stories/1.1.project-setup.md
  docs/stories/1.2.payloadcms-collections-data-structure.md
Due: prettier

feat: resolve architectural discrepancy and mark Story 1.2 ready for development
  docs/architecture/payloadcms-collections.md
  docs/brainstorming-session-results.md
  docs/front-end-spec.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/epic-2-user-authentication-program-access.md
  docs/prd/epic-3-core-workout-execution.md
  docs/prd/goals-and-background-context.md
  docs/prd/requirements.md
  docs/prd/technical-assumptions.md
  docs/stories/1.2.payloadcms-collections-data-structure.md
Due: prettier

chore: update dotenv and cross-env dependencies
  package-lock.json
  package.json
Due: prettier

chore: update @vitejs/plugin-react to v5.0.2
  package-lock.json
  package.json
Due: prettier

chore: complete all major dependency updates
  package-lock.json
  package.json
Due: prettier

chore: remove unnecessary GitHub Actions workflows
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
Due: prettier

feat: implement Exercises collection with progressive validation
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/exercises.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  vitest.config.mts
Due: eslint, prettier

test: add comprehensive unit tests for Exercises collection
  tests/payload/collections.test.ts
Due: eslint, prettier

feat: implement Sessions collection with exercise relationships
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/sessions.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  tests/payload/collections.test.ts
Due: eslint, prettier

feat: implement Milestones collection with conditional fields and comprehensive testing
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/milestones.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  tests/payload/collections.test.ts
Due: eslint, prettier

feat: implement Programs collection with milestone relationships
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  tests/payload/collections.test.ts
Due: eslint, prettier

chore: remove sprint change proposal document
  Sprint-Change-Proposal-Authentication-Pivot.md
Due: prettier

feat: organize PayloadCMS collections into admin and application data groups
  src/payload/collections/exercises.ts
  src/payload/collections/media.ts
  src/payload/collections/milestones.ts
  src/payload/collections/product-users.ts
  src/payload/collections/programs.ts
  src/payload/collections/sessions.ts
  src/payload/collections/users.ts
Due: eslint, prettier
