Repository justinsisley/workout: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: npm run lint
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: npm run format:check
    type-check:
      run: npm run type-check
#    commitlint:
#      run: npx commitlint --edit $1
# pre-push:
#   parallel: true
#   commands:
#     test-e2e:
#       run: npm run test:e2e

docs: integrate AMRAP feature enhancement into Story 1.3 and architecture
  docs/architecture/backend-architecture.md
  docs/architecture/payloadcms-data-architecture.md
  docs/course-corrections/amrap-feature-addition.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/requirements.md
  docs/prd/technical-assumptions.md
  docs/stories/1.3.admin-interface-and-program-creation.md
Due: prettier

feat: implement AMRAP day designation with PayloadCMS admin support
  docs/stories/1.3.admin-interface-and-program-creation.md
  package-lock.json
  package.json
  src/payload/collections/programs.ts
Due: eslint, prettier

test: extend integration tests for AMRAP and dual-field admin features
  docs/stories/1.3.admin-interface-and-program-creation.md
  tests/payload/collections.test.ts
  vitest.config.mts
  vitest.setup.ts
Due: eslint, prettier

refactor: remove PayloadCMS configuration tests and fix test suite
  docs/stories/1.3.admin-interface-and-program-creation.md
  tests/payload/cascade-behavior.test.ts
  tests/payload/collections.test.ts
  tests/payload/drag-and-drop.test.ts
  tests/payload/relationship-integration.test.ts
  tests/payload/validation-rules.test.ts
  vitest.config.mts
Due: eslint, prettier

docs: complete Story 1.3 quality gate assessment with PASS decision
  TESTING_PHILOSOPHY.md
  docs/qa/gates/1.3-admin-interface-and-program-creation.yml
  docs/stories/1.3.admin-interface-and-program-creation.md
Due: prettier

chore: exclude docs directory from ESLint checking
  eslint.config.mjs
Due: none

docs: integrate testing philosophy into architecture documentation
  TESTING_PHILOSOPHY.md
  docs/architecture/testing-strategy.md
Due: prettier

chore: exclude docs directory from Prettier formatting
  .prettierignore
Due: none

feat: complete Story 1.4 data management with PayloadCMS import/export plugin
  docs/import-export-guide.md
  docs/stories/1.4.complete-program-data-population.md
  package-lock.json
  package.json
  scripts/test-duration-utils.ts
  scripts/test-import-export.ts
  src/app/(payload)/admin/importMap.js
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/utils/program-duration.ts
Due: eslint, prettier

docs: integrate import/export learnings into architecture documentation
  docs/architecture/backend-architecture.md
  docs/architecture/deployment-architecture.md
  docs/architecture/high-level-architecture.md
  docs/architecture/payloadcms-data-architecture.md
  docs/import-export-guide.md
Due: prettier

docs: complete Story 1.4 quality gate assessment with PASS decision
  docs/qa/gates/1.4-complete-program-data-population.yml
  docs/stories/1.4.complete-program-data-population.md
Due: prettier

feat: implement WebAuthN passkey registration server actions
  docs/stories/2.1.passkey-authentication-system.md
  package-lock.json
  package.json
  src/actions/auth.ts
  src/payload/collections/product-users.ts
  src/payload/payload-types.ts
  src/types/auth.ts
Due: eslint, prettier

feat: setup ShadCN/UI with Tailwind CSS 4.0 and update dependencies
  docs/architecture/shadcn-tailwind-setup.md
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/(frontend)/globals.css
  src/app/(frontend)/layout.tsx
  src/app/(frontend)/page.tsx
  src/app/(frontend)/styles.css
Due: eslint, prettier

feat: implement frontend WebAuthN passkey registration with ShadCN/ui
  components.json
  docs/stories/2.1.passkey-authentication-system.md
  package-lock.json
  package.json
  src/app/(frontend)/globals.css
  src/components/auth/passkey-registration.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/lib/utils.ts
  tests/components/auth/passkey-registration.test.tsx
  vitest.setup.ts
Due: eslint, prettier

feat: add browser compatibility checks and fallback guidance for passkey registration
  docs/stories/2.1.passkey-authentication-system.md
  src/components/auth/passkey-registration.tsx
Due: eslint, prettier

feat: implement WebAuthN passkey authentication server actions
  docs/stories/2.1.passkey-authentication-system.md
  src/actions/auth.ts
Due: eslint, prettier

feat: implement frontend passkey authentication with navigator.credentials.get()
  docs/stories/2.1.passkey-authentication-system.md
  src/components/auth/passkey-authentication.tsx
Due: eslint, prettier

docs: verify ShadCN/ui components installation and configuration
  docs/stories/2.1.passkey-authentication-system.md
Due: prettier

refactor: reorganize task structure and complete WebAuthN passkey authentication
  docs/stories/2.1.passkey-authentication-system.md
Due: prettier

feat: implement username registration interface with real-time availability checking
  docs/stories/2.1.passkey-authentication-system.md
  src/components/auth/username-registration.tsx
Due: eslint, prettier

feat: implement complete user session management with JWT tokens and Zustand
  docs/stories/2.1.passkey-authentication-system.md
  middleware.ts
  package-lock.json
  package.json
  src/actions/auth.ts
  src/components/auth/passkey-authentication.tsx
  src/components/auth/passkey-registration.tsx
  src/lib/auth.ts
  src/stores/auth-store.ts
Due: eslint, prettier

feat: add comprehensive rate limiting and security measures to authentication system
  docs/stories/2.1.passkey-authentication-system.md
  middleware.ts
  src/actions/auth.ts
Due: eslint, prettier

feat: complete Story 2.1 authentication workflow integration
  docs/stories/2.1.passkey-authentication-system.md
  src/app/(frontend)/app/page.tsx
  src/app/(frontend)/login/page.tsx
  src/app/(frontend)/page.tsx
  src/app/(frontend)/register/page.tsx
  src/components/auth/passkey-registration.tsx
Due: eslint, prettier

fix: refactor environment variable configuration to follow Next.js best practices
  src/actions/auth.ts
  src/app/api/health/route.ts
  src/lib/auth.ts
  src/lib/config.ts
Due: eslint, prettier

fix: resolve infinite loop and credential validation issues in passkey registration
  src/actions/auth.ts
  src/components/auth/passkey-registration.tsx
Due: eslint, prettier

fix: implement proper authentication middleware with Edge Runtime support
  package-lock.json
  package.json
  src/actions/auth.ts
  src/lib/auth.ts
  src/middleware.ts
  src/stores/auth-store.ts
Due: eslint, prettier

fix: eliminate layout shift flickering during username availability checks
  src/components/auth/username-registration.tsx
Due: eslint, prettier

fix: resolve test failures in passkey registration and E2E tests
  tests/components/auth/passkey-registration.test.tsx
  tests/e2e/frontend.e2e.spec.ts
Due: eslint, prettier

docs: update story completion status and add product user management story
  docs/stories/1.2.payloadcms-collections-data-structure.md
  docs/stories/1.3.admin-interface-and-program-creation.md
  docs/stories/1.4.complete-program-data-population.md
  docs/stories/2.1.passkey-authentication-system.md
  docs/stories/2.2.product-user-management.md
Due: prettier

feat: implement comprehensive user management server actions
  docs/stories/2.2.product-user-management.md
  src/actions/auth.ts
  src/payload/collections/product-users.ts
  src/payload/payload-types.ts
  src/types/auth.ts
  tests/api/user-management.test.ts
Due: eslint, prettier

docs: mark Task 3 and Task 4 as completed in Story 2.2
  docs/stories/2.2.product-user-management.md
Due: prettier

feat: complete Story 2.2 user management testing and update dependencies
  docs/stories/2.2.product-user-management.md
  package-lock.json
  package.json
  tests/api/admin-interface.test.ts
  tests/api/data-integrity.test.ts
  tests/api/edge-cases.test.ts
Due: eslint, prettier

docs: enhance Epic 3 with AMRAP support and approve Story 2.3
  docs/prd/epic-3-core-workout-execution.md
  docs/stories/2.2.product-user-management.md
  docs/stories/2.3.program-selection-interface.md
Due: prettier

feat: implement program selection interface (Story 2.3 Tasks 1-2)
  docs/stories/2.3.program-selection-interface.md
  src/actions/programs.ts
  src/app/(frontend)/programs/page.tsx
  src/components/program/program-card.tsx
  src/components/program/program-selector.tsx
  src/lib/auth.ts
  src/lib/program-utils.ts
  src/types/program.ts
Due: eslint, prettier

feat: complete Story 2.3 program selection with comprehensive testing and UI fixes
  .mcp.json
  docs/stories/2.3.program-selection-interface.md
  src/actions/auth.ts
  src/actions/programs.ts
  src/components/program/program-selector.tsx
  src/payload/collections/product-users.ts
  src/payload/payload-types.ts
  src/stores/program-store.ts
  src/types/auth.ts
  src/types/program.ts
  tests/actions/programs.test.ts
  tests/components/program/program-card.test.tsx
  tests/components/program/program-selector.test.tsx
Due: eslint, prettier

docs: mark Story 2.3 as Done
  docs/stories/2.3.program-selection-interface.md
Due: prettier

docs: approve Story 2.4 user progress initialization
  docs/stories/2.4.user-progress-initialization.md
Due: prettier

feat: implement Story 2.4 Task 1 progress initialization validation
  docs/stories/2.4.user-progress-initialization.md
  src/actions/programs.ts
  tests/api/programs.test.ts
Due: eslint, prettier

feat: implement Story 2.4 Task 2 milestone and day progression
  docs/stories/2.4.user-progress-initialization.md
  src/actions/programs.ts
  src/types/program.ts
  tests/api/programs.test.ts
Due: eslint, prettier

feat: complete Story 2.4 Task 3 comprehensive progress tracking utilities
  docs/stories/2.4.user-progress-initialization.md
  src/utils/progress.ts
  tests/utils/progress.test.ts
  vitest.config.mts
Due: eslint, prettier
