Repository justinsisley/workout: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: npm run lint
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: npm run format:check
    type-check:
      run: npm run type-check
#    commitlint:
#      run: npx commitlint --edit $1
# pre-push:
#   parallel: true
#   commands:
#     test-e2e:
#       run: npm run test:e2e

feat: add exercise completions collection with performance tracking
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/exercise-completions.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  tests/payload/collections.test.ts
Due: eslint, prettier

feat: complete configure collection relationships task
  docs/stories/1.2.payloadcms-collections-data-structure.md
  tests/payload/cascade-behavior.test.ts
  tests/payload/collections.test.ts
  tests/payload/drag-and-drop.test.ts
  tests/payload/relationship-integration.test.ts
Due: eslint, prettier

feat: implement progressive validation rules for PayloadCMS collections
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/exercises.ts
  src/payload/collections/milestones.ts
  src/payload/collections/programs.ts
  src/payload/collections/sessions.ts
  src/payload/payload-types.ts
  tests/payload/collections.test.ts
  tests/payload/validation-rules.test.ts
Due: eslint, prettier

feat: generate TypeScript types for PayloadCMS collections
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/types/workout.ts
Due: eslint, prettier

feat: complete story 1.2 - payloadcms collections and data structure
  docs/stories/1.2.payloadcms-collections-data-structure.md
Due: prettier

fix: resolve integration test failures due to missing environment variables
  src/payload/collections/exercises.ts
  tests/payload/validation-rules.test.ts
  vitest.config.mts
Due: eslint, prettier

docs: add quality gate for story 1.2 - payloadcms collections
  docs/qa/gates/1.2-payloadcms-collections-data-structure.yml
  docs/stories/1.2.payloadcms-collections-data-structure.md
Due: prettier

feat: add exercise bootstrap script with video URL support
  package-lock.json
  package.json
  scripts/README.md
  scripts/bootstrap-exercises.ts
  scripts/master_exercise_list.csv
Due: eslint, prettier

docs: update story documentation
  docs/stories/1.2.payloadcms-collections-data-structure.md
  docs/stories/1.3.admin-interface-program-creation.md
Due: prettier

feat: implement embedded schema architecture for PayloadCMS collections
  EMBEDDED-SCHEMA-PRODUCT-OWNER-GUIDE.md
  SPRINT-CHANGE-PROPOSAL-EMBEDDED-SCHEMA.md
  docs/architecture/admin-ui-embedded-schema.md
  docs/architecture/backend-architecture.md
  docs/architecture/embedded-schema-summary.md
  docs/architecture/frontend-architecture.md
  docs/architecture/high-level-architecture.md
  docs/architecture/migration-plan-embedded-schema.md
  docs/architecture/payloadcms-collections.md
  docs/architecture/payloadcms-data-architecture.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/epic-2-user-authentication-program-access.md
  docs/prd/epic-3-core-workout-execution.md
  docs/prd/epic-4-smart-progression-advanced-features.md
  docs/prd/epic-list.md
  docs/prd/requirements.md
  docs/qa/gates/1.2-payloadcms-collections-data-structure.yml
  docs/stories/1.2.payloadcms-collections-data-structure.md
  docs/stories/1.3.admin-interface-program-creation.md
Due: prettier

feat: complete phase 1 - remove old normalized collections
  EMBEDDED-SCHEMA-PRODUCT-OWNER-GUIDE.md
  SPRINT-CHANGE-PROPOSAL-EMBEDDED-SCHEMA.md
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/exercise-completions.ts
  src/payload/collections/milestones.ts
  src/payload/collections/product-users.ts
  src/payload/collections/programs.ts
  src/payload/collections/sessions.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/types/workout.ts
  tests/payload/disabled/cascade-behavior.test.ts.skip
  tests/payload/disabled/collections.test.ts.skip
  tests/payload/disabled/drag-and-drop.test.ts.skip
  tests/payload/disabled/relationship-integration.test.ts.skip
  tests/payload/disabled/validation-rules.test.ts
  tsconfig.json
Due: eslint, prettier

feat: implement embedded schema for Programs collection
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
Due: eslint, prettier

feat: enhance Programs collection admin interface
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/app/(payload)/admin/importMap.js
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
Due: eslint, prettier

feat: update ProductUsers collection for embedded schema
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/product-users.ts
  src/payload/payload-types.ts
Due: eslint, prettier

chore: ignore PayloadCMS generated importMap.js in Prettier
  .prettierignore
Due: none

feat: update ExerciseCompletions collection for embedded schema
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/payload/collections/exercise-completions.ts
  src/payload/payload-types.ts
Due: eslint, prettier

feat: complete story 1.2 - payloadcms collections and embedded data structure
  docs/stories/1.2.payloadcms-collections-data-structure.md
  src/types/auth.ts
  tests/int/embedded-schema.int.spec.ts
  tests/payload/collections.test.ts
  tests/payload/disabled/validation-rules.test.ts.skip
Due: eslint, prettier

fix: import user types from PayloadCMS instead of redefining
  src/types/auth.ts
Due: eslint, prettier

feat: re-enable and fix all disabled tests
  src/payload/collections/product-users.ts
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
  tests/payload/cascade-behavior.test.ts
  tests/payload/collections.test.ts
  tests/payload/disabled/collections.test.ts.skip
  tests/payload/drag-and-drop.test.ts
  tests/payload/relationship-integration.test.ts
  tests/payload/validation-rules.test.ts
Due: eslint, prettier

chore: remove obsolete tests/payload/disabled directory and .skip files
  tests/payload/disabled/cascade-behavior.test.ts.skip
  tests/payload/disabled/collections.test.ts.skip
  tests/payload/disabled/drag-and-drop.test.ts.skip
  tests/payload/disabled/relationship-integration.test.ts.skip
  tests/payload/disabled/validation-rules.test.ts.skip
Due: none

test: remove integration tests; delete tests/int; rely on E2E
  package-lock.json
  package.json
  tests/int/api.int.spec.ts
  tests/int/embedded-schema.int.spec.ts
  tests/int/simple.test.ts
Due: eslint, prettier

docs: add QA gate PASS for story 1.2 and update QA results
  docs/qa/gates/1.2-payloadcms-collections-and-embedded-data-structure.yml
  docs/stories/1.2.payloadcms-collections-data-structure.md
Due: prettier

refactor: remove culminating events concept from program structure
  docs/change-log-culminating-events-removal.md
  tests/payload/cascade-behavior.test.ts
  tests/payload/collections.test.ts
  tests/payload/relationship-integration.test.ts
Due: eslint, prettier

docs: add critical rule against bypassing pre-commit hooks
  docs/architecture/development-workflow.md
Due: prettier

docs: remove obsolete migration document for culminating events removal
  docs/change-log-culminating-events-removal.md
Due: prettier

docs: update story 1.3 status from Draft to Ready for Development
  docs/stories/1.3.admin-interface-and-program-creation.md
Due: prettier

chore: enhance clean script to remove node_modules and package-lock.json
  package.json
Due: prettier

fix: ignore .claude directory in prettier checks
  .prettierignore
Due: none

chore: add MCP configuration and update package-lock
  .mcp.json
  package-lock.json
Due: prettier

chore: clean up package.json configuration
  package.json
Due: prettier

fix: remove obsolete version attribute from docker-compose
  docker-compose.yml
Due: prettier

docs: add time-based exercise duration field support and course corrections
  docs/architecture/admin-ui-embedded-schema.md
  docs/architecture/payloadcms-collections.md
  docs/course-corrections/time-based-exercise-support.md
  docs/stories/1.3.admin-interface-and-program-creation.md
  scripts/master_exercise_list.csv
Due: prettier

feat: implement time duration field for exercises
  docs/stories/1.3.admin-interface-and-program-creation.md
  src/payload/collections/programs.ts
  src/payload/payload-types.ts
Due: eslint, prettier

feat: enhance admin UX with custom exercise row labels
  src/components/admin/exercise-row-label.tsx
  src/payload/collections/programs.ts
Due: eslint, prettier

docs: enhance time duration UX with dual-field approach
  docs/architecture/admin-ui-embedded-schema.md
  docs/architecture/payloadcms-collections.md
  docs/course-corrections/time-duration-ux-enhancement.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/epic-3-core-workout-execution.md
  docs/prd/requirements.md
  docs/stories/1.3.admin-interface-and-program-creation.md
Due: prettier

feat: complete dual-field duration enhancement for time-based exercises
  docs/stories/1.3.admin-interface-and-program-creation.md
  src/payload/collections/programs.ts
Due: eslint, prettier

docs: add distance UX enhancement course correction and update architecture
  docs/architecture/backend-architecture.md
  docs/architecture/exercise-formatting-utilities.md
  docs/architecture/frontend-architecture.md
  docs/architecture/payloadcms-data-architecture.md
  docs/course-corrections/distance-ux-enhancement.md
  docs/prd/epic-1-foundation-core-infrastructure-data-population.md
  docs/prd/epic-3-core-workout-execution.md
  docs/stories/1.3.admin-interface-and-program-creation.md
Due: prettier

feat: implement distance input with dual-field UX enhancement
  docs/stories/1.3.admin-interface-and-program-creation.md
  src/payload/collections/programs.ts
Due: eslint, prettier

chore: add Lunge and Sit-up exercises to master list
  scripts/master_exercise_list.csv
Due: none
